@page
@{
    ViewBag.Title = Localizer["title"];
}

<h1>@ViewBag.Title</h1>
<ul>
    <li>
        <a asp-page="requirements">Requirements</a>
    </li>
    <li>
        <a asp-page="use-cases">Use cases</a>
    </li>
    <li>
        <a asp-page="requirement-categories">Requirement categories</a>
    </li>
    <li>
        <a asp-page="browser">Browse requirements & use cases</a>
    </li>
    <li>
        <a asp-page="table">View as table (UC/requirement matrix)</a>
    </li>
    <li>
        <a href="~/Ucr.docx">Download Word document</a>
    </li>
    <li>
        <a href="~/Ucr.xlsx">Download Excel document</a>
    </li>
    <li>
        <p>Data</p>
        <ul>
            <li>
                <a href="~/data/all.ttl">All (Turtle)</a>
            </li>
            <li>
                <a href="~/data/requirements.json">Requirements (JSON)</a>
            </li>
            <li>
                <a href="~/data/use-cases.json">Use cases (JSON)</a>
            </li>
            <li>
                <a href="~/data/links.json">Links (JSON)</a>
            </li>
        </ul>
    </li>
</ul>
