@page
@{
    ViewBag.Title = "{home}";
}

@section head {
    <link href="./style/site.css" rel="stylesheet" />
}

<ul>
    <li>
        <a href="./requirements">Requirements</a>
    </li>
    <li>
        <a href="./use-cases">Use cases</a>
    </li>
    <li>
        <a href="./requirement-categories">Requirement categories</a>
    </li>
    <li>
        <a href="./browser">Browse requirements & use cases</a>
    </li>
    <li>
        <a href="./table">View as table (UC/requirement matrix)</a>
    </li>
    <li>
        <a href="./Ucr.docx">Download Word document</a>
    </li>
    <li>
        <a href="./Ucr.xlsx">Download Excel document</a>
    </li>
    <li>
        <p>Data</p>
        <ul>
            <li>
                <a href="./data/all.ttl">All (Turtle)</a>
            </li>
            <li>
                <a href="./data/requirements.json">Requirements (JSON)</a>
            </li>
            <li>
                <a href="./data/use-cases.json">Use cases (JSON)</a>
            </li>
            <li>
                <a href="./data/links.json">Links (JSON)</a>
            </li>
        </ul>
    </li>
</ul>
