@page
@model RequirementCategoriesModel
@{
    ViewBag.Title = Localizer["title"];
}

<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var category in Model.RequirementCategories)
    {
        <li><a asp-page="requirement-category" asp-route-id="@category.Number">@category.Number - @category.Title</a></li>
    }
</ul>
