@page
@{
    ViewBag.Title = "{table}";
}

@section head {
    <script src="~/script/table.js" type="module"></script>
    <link href="~/style/table.css" rel="stylesheet" />
}

<table>
    <thead></thead>
    <tbody></tbody>
</table>
