@page
@model UseCasesModel
@{
    ViewBag.Title = Localizer["title"];
}

<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var useCase in Model.UseCases)
    {
        <li><a asp-page="use-case" asp-route-id="@useCase.Number">@useCase.Number - @useCase.Title</a></li>
    }
</ul>
