@page
@{
    ViewBag.Title = "{table}";
}

@section head {
    <link href="../style/site.css" rel="stylesheet" />
    <script src="../script/table.js" type="module"></script>
    <link href="../style/table.css" rel="stylesheet" />
}

<table>
    <thead></thead>
    <tbody></tbody>
</table>
