@page
@model Web.Pages.requirementCategories.IndexModel
@{
    ViewBag.Title = "{requirement categoriess}";
}

@section head {
    <link href="../style/site.css" rel="stylesheet" />
}

<ul>
    @foreach (var category in Model.RequirementCategories)
    {
        <li><a href="../requirement-category/@category.Number">@category.Number - @category.Title</a></li>
    }
</ul>
