<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/style/site.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
