@page
@model WebApplication1.Pages.usecases.IndexModel
@{
    ViewBag.Title = "{use cases}";
}

@section head {
    <link href="../style/site.css" rel="stylesheet" />
}

<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var useCase in Model.UseCases)
    {
        <li><a href="../use-case/@useCase.Number">@useCase.Number - @useCase.Title</a></li>
    }
</ul>
